@model ITService.Domain.Command.ShoppingCart.AddShoppingCartCommand
@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div style="margin-top:20px;"></div>
<form method="post">
    <input hidden asp-for="ProductId" />
    <div class="container ">
        <div class="card" >
            <div class=" row container" style="margin-top:20px">
                <div class="col-8 col-md-8">
                    <h1 class="text-center">@Model.Product.Name</h1>
                    <div style="margin-top:20px"></div>
                    <h6 class="p-2 text-primary" style="font-size:22px;">Price : @Model.Product.Price $</h6>
                    <h6 class="p-2" style="font-size:22px;">Manufacturer : @Model.Product.Manufacturer.Name</h6>
                    <h6 class="p-2" style="font-size:22px;">Category : @Model.Product.Category.Name</h6>

                    <div style="margin-top:30px"></div>
                    <p style="font-size:18px;" class="text-center">Description </p>
                    <p style="font-size:16px;">@Html.Raw(Model.Product.Description) </p>
                </div>

                <div class="col-4 col-lg-4  text-center ">
                    <img src="@Model.Product.Image" width="100%" class="rounded" />
                </div>
            </div>
            <div class="card-body">
                <div class="container rounded p-2">
                    <div class="row">
                        <div class="col-12 col-lg-12">
                            <div class="row">
                                <div class=" text-primary"><h4>Count</h4></div>
                            </div>
                            <div class="row ">

                                <div class="col-4"><input class="form-control" asp-for="Count" /></div>
                            </div>

                        </div>

                    </div>
                </div>
            </div>
            <div class="card-footer">
                <div class="row">
                    <div class="col-12 col-md-6 pb-1">
                        <a asp-action="Index" class="btn btn-outline-secondary btn-square btn-lg form-control" style="height:50px;">Back</a>
                    </div>
                    <div class="col-12 col-md-6 pb-1">
                        <button asp-action="AddToShoppingCart" asp-controller="Home" asp-area="Customer" asp-route-productId="@Model.ProductId" asp-route-count="@Model.Count" type="submit" value="Add to Cart" class="btn btn-outline-primary btn-square btn-lg form-control" style="height:50px;">Add to card</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>


